:root {
    --black1: #000000;
    --black2: #3c3640;
    --purple1: #af05aa;
    --pink1: #ea21a2;
    --white1: #ffffff;
    --white2: #f5eeee;
}
body{
    font-family: "Playfair Display", serif;
}

#header-container,
#salao-container {
    background-color: var(--white2);
    color: var(--black1);
}

.container {
    max-width: 3290px;
    margin: 0 auto;
}
.header {
    color: var(--pink1);
    padding: 24px 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    padding: 20px 40px;
    color: var(--white1);
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 12px;
}

.btn-primary {
    background-color: var(--purple1);

}

.btn-outline {
    border: 2px solid var(--black1);
    color: var(--black1);
    background-color: transparent;
    padding: 12px 24px;
    font-size: 0.8rem;
}

.salao {
    display: flex;
    align-items: center;
    gap: 32px;
}

.salao-text, .salao-img {
    flex: 1; /*dividir os elementos igualmente*/
}

.salao-img img {
    max-width: 100%;
}

.salao-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /*Alinha os itens ao início*/
    gap: 16px;/*espaçamento entre um elemento e outro*/
}

.salao-text__title {
    font-size: 56px;
    line-height: 64px;
    font-weight: 700;
}

.salao-text__subtitle {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
}

    .service-list {
        display: flex;
       margin-top: 48px;
       gap: 32px;
    }

    .service-card {
        background-color: var(--white1);
        border: 2px solid var(--white2)
    }

    .service-card img {
        width: 100%;
    }

    #services-container {
        padding: 96px 72px;
    }

    .service-card__text {
        padding: 32px;
    }

    .service-card__text h3 {
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
    }

    .service-card__text p {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
    }

    .overtitle {
        color: var(--purple1);
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        text-transform: uppercase;

    }

    .title {
        font-size: 44px;
        line-height: 56px;
        font-weight: 700;
    }

    #location-container {
        background-color: var(--white2);
    }

    #location-container .location{
        padding: 96px 72px 48px 72px;
    }
    
    footer{
        background-color: var(--pink1);
        color: var(--white2);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 48px 72px;
    }

/*
.container_perfil {
    margin: 0 25em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Playfair Display', serif;
}

.texto_perfil {
    font-size: 85px;
}

.texto_dois {
    font-family: 30px;
    

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*/